
@using TicTacToeBLAZOR.Models; <!-- referens till mappen med klasserna -->
@page "/"

<h1>Camillas Tic Tac Toe</h1>



<div class="tictactoe-board">
    @for (int i = 0; i < 3; i++)
    {
        <div class="tictacttoe-column">
            @for (int j = 0; j < 3; j++)
            {
                int x = i;
                int y = j;
                <div class="tictactoe-gamepiece
                         tictactoe-@board.Board[i,j].Style.ToString().ToLower()" @onclick="@(() => board.PieceClicked(x,y))"
                     style="@(board.IsGamePieceAWinningPiece(i, j)? "opacity: 0" : "")"></div>
            }
        </div>
    }
</div>
 
 @code{

 GameBoard board = new GameBoard(); // error in command prompt: GameBoard cannot be found...
 }

 <!-- output a message for wins and draws: -->
 @if (!board.GameComplete)
{
    <h2>@board.CurrentTurn's Turn!</h2>
}
else
{
    <h2>
        @board.GetGameCompleteMessage()
        <button class="btn btn-success" @onclick="@(() => board.Reset())">
            Reset
        </button>
    </h2>
}